.fab {
  margin-right: 0.5em;
  color: #28a745;
}

.navbar-brand {
  font-family: "Monda", sans-serif;
  font-size: 1.2em;
}

.nav-item {
  margin-left: 1em;
  font-family: "Monda", sans-serif;
  font-size: 1em;
}
