.fab {
  margin-right: 0.5em;
  color: #28a745;
}

.navbar-brand {
  font-size: 1em;
  font-weight: bolder;
  font-family: "Monda", sans-serif;
  text-transform: uppercase;
}

.nav-item {
  font-family: "Monda", sans-serif;
  margin-left: 1em;
  font-size: 1em;
}
