<div class="container">
    <div class="heading">
        <h1>Welcome to Github Search</h1>
        <h2>Find any Github account by entering a Github username below:</h2>
    </div>
    <form #searchForm='ngForm' id="searchForm">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Enter a Github username here"
                [(ngModel)]="inputtedUserName" (keyup)="findUserAccount()" name="username">
        </div>
    </form>
    <h4>You are viewing {{user.name}}'s Github account</h4>
    <div *ngIf="user">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img id="profilePic" src="{{user.profileUrl}}" alt="Profile Picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{user.name}}</h5>
                        <ul class="card-text">
                            <li>Username: {{user.name}}</li>
                            <li *ngIf="user.bio">About: {{user.bio}}</li>
                            <li>Number of public repositories: {{user.public_repos}}</li>
                            <li>Followers: {{user.followers}}</li>
                            <li>Following: {{user.following}}</li>
                            <li>Created: {{user.created_at}}</li>
                        </ul>
                        <p><a href="{{user.siteLink}}" target="blank" class="btn btn-outline-success my-2 my-sm-0">View
                                on Github</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-success mb-3" *ngIf="user.public_repos">
            <div class="card-header bg-success">Repositories</div>
            <div class="card-body" *ngFor="let repo of repos">
                <h5 class="card-title"> <i class="fas fa-bookmark"></i>{{repo.name}}</h5>
                <p class="card-text">{{repo.description}}</p>
                <hr>
            </div>
            <div class="card-footer bg-success"></div>

        </div>
    </div>
</div>