<div class="container">

    <h2>Find any Github repository by entering the Github repository name below:</h2>

    <form #repoForm='ngForm'>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text btn-dark" id="basic-addon1" (click)="findRepository()"><i
                            class="fas fa-search"></i></span>
                </div>
                <input type="search" id="search" class="form-control"
                    placeholder="Enter any Github repository name here" [(ngModel)]="repoName"
                    (keyup)="findRepository()" name="repository">
            </div>
        </div>
    </form>

    <div *ngIf="repos">
        <div class="card border-success mb-3" *ngFor="let repo of repos">
            <div class="card-header" appHighlight>{{repo.name}}</div>
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-bookmark"></i>{{repo.name}}</h5>
                <p class="card-text">{{repo.description}}</p>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>